img {
  width: 30%;
  float: left;
  margin: 1.66%;
}

/* body {
  border: 20px solid grey;
} */
p {
  font-family: "Cutive Mono", monospace;
  font-size: 200%;
  margin: 1.66% 0 1.66% 1.66%;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  width: 30%;
  padding-bottom: 20px;
}
